<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="header">
      <ion-icon src="assets/svgUber.svg" alt="" id="logo"></ion-icon>
      <ion-title class="ion-text-center">
        Cuenta
      </ion-title>
      <ion-icon src="assets/{{funciones.icono}}.svg" id="tema" (click)="cambiarTema()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="fondo">
    <div id="fondo">
      <div id="icon">
        <img src="assets/logouber.png" alt="" id="img">
      </div>
      <div id="titleModal">
        <span>Registro</span>
      </div>
      <div id="modaldatos">
        <ion-input minLength="6" id="inputV" type="text" password label="Tu usuario" labelPlacement="floating"
          helperText="Usuario debe tener mas de 6 de caracteres" autofocus="True" [(ngModel)]="User"></ion-input>
        <ion-input id="inputV" type="" label="Tu Email" labelPlacement="floating"
          helperText="Email Valido en caso de olvidar tu contraseña" errorText="" autofocus="True" [(ngModel)]="email"></ion-input>
        <ion-input id="inputV" inputmode="" type="password" label="Tu contraseña" labelPlacement="floating"
          helperText="La contraseña debe tener mas de 6 caracteres" autofocus="True" [(ngModel)]="clave"></ion-input>

      </div>
      <div id="Rbtns">
        <ion-button color="light" id="closebtn" (click)="CrearUsuario(User,clave,email)">Registrarse</ion-button>
        <ion-button color="light" id="closebtn" (click)="funciones.navegar('login')">Volver</ion-button>
      </div>
    </div>
  </div>
</ion-content>