<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperacion de Contraseña</ion-title>
    <!--Icono para cambiar a modo oscuro-->
    <ion-icon src="assets/{{icono}}.svg" id="tema" (click)="cambiarTema()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="fondo">
    <div id="rContraseña">
      <h2>Ingrese contraseña nueva</h2>
      <input type="text" placeholder="Usuario" >
      <input type="password" placeholder="Contraseña nueva" >
      <ion-button href="#">Recuperar contraseña</ion-button>
    </div>
  </div>
</ion-content>
