<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="header">
      <ion-icon src="assets/svgUber.svg" alt="" id="logo"></ion-icon>
      <ion-title class="ion-text-center">
        Transporte
      </ion-title>
      <ion-icon src="assets/{{funciones.icono}}.svg" id="tema" (click)="cambiarTema()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="contenedor">
    <div id="viajeTitle">
      <div id="GoBack">
        <ion-icon src="assets/back.svg" alt="" (click)="navegar('home')"></ion-icon>
      </div>
      <h5> Viaje de {{viajeUsuario?.conductor}} </h5>
      <div id="reLoad">
        <ion-icon src="assets/reload.svg" alt="" (click)="funciones.reloadPage()"></ion-icon>
      </div>
    </div>
    <span>{{viajeUsuario?.estado}}</span>
    <div id="viaje-img">
      <div id="descripcion">
        <div id="fechaHora">
          <span>{{viajeUsuario?.horaSalida}} </span>
          <span>{{fecha}} </span>
        </div>
      </div>
      <div id="mapa">
        <div id="mapa">
          <div #map id="map"></div>
        </div>
      </div>
      <span>{{end}}</span>
    </div>
    <div id="datosViaje">
      <div id="tiempoEstimado">
        <div>
          <ion-icon src="assets/location.svg" alt=""></ion-icon>
          <span>{{start}}</span>
        </div>
        <div>
          <ion-icon src="assets/time.svg" alt=""></ion-icon>
          <span>{{duracion}} Minutos</span>
        </div>
        <div>
          <ion-icon src="assets/finish_flag.svg" alt=""></ion-icon>
          <span>{{viajeUsuario?.destino}}</span>
        </div>
      </div>
      <div id="detalles">
        <div id="pEncuentro">
          <ion-icon src="assets/location.svg" alt=""></ion-icon>
          <span>Punto de Encuentro: {{viajeUsuario?.puntoEncuentro}}</span>
        </div>
        <div>
          <ion-icon src="assets/passenger.svg" alt=""></ion-icon>
          <span>Asientos Disponibles {{viajeUsuario?.cantidadPasajeros}}</span>
        </div>
        <div>
          <ion-icon src="assets/money.svg" alt=""></ion-icon>
          <span>${{viajeUsuario?.MontoCobrar}} por persona</span>
        </div>
      </div>
    </div>
    <div id="detalles-loc">
      <h2>Monto A Pagar</h2>
      <p> ${{viajeUsuario?.MontoCobrar}} pesos</p>
    </div>
    <ion-segment value="default" (ionChange)="onSegmentChange($event)">
      <ion-segment-button value="default">
        <ion-label>Transferencia</ion-label>
      </ion-segment-button>
      <ion-segment-button value="segment">
        <ion-label>Efectivo</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div *ngIf="selectedSegment === 'default'" id="Transferencia">
      <ion-button color="light" id="botonT" (click)="selectImage()">Seleccionar Imagen</ion-button>
      <div *ngIf="image">
        <img [src]="image" alt="Imagen seleccionada" style="width: 100%; height: auto;" />
        <ion-button color="light" id="botonT" (click)="uploadImage()">Subir Imagen</ion-button>
      </div>
    </div>
    <div *ngIf="selectedSegment === 'segment'">
      <p>Pagar En efectivo</p>
    </div>
    <div id="inputDestino">
      <ion-input id="inputV" type="DestinoPasajero" label="Tu Destino" labelPlacement="floating"
        [(ngModel)]="destinoPasajero" helperText="Ingresa tu destino" errorText="" aria-label="Light input"
        color="light"></ion-input>
      <ion-button color="light" id="botonT" (click)="actualizarDatosPasajero()" disabled="false" color="light">Ingresar
        Datos de Viaje</ion-button>

      <ion-button color="light" id="botonT" (click)="SalirViaje()" disabled="false" color="light">Salir
        Viaje</ion-button>

    </div>

  </div>

</ion-content>