
<ion-content [fullscreen]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=REM:ital,wght@1,200&display=swap" rel="stylesheet">
  <!--Icono para cambiar a modo oscuro-->
<ion-icon src="assets/{{funciones.icono}}.svg" id="tema" (click)="cambiarTema()"></ion-icon>
  <div id="fondo">
    <div id="icon">
      <img src="assets/logouber.png" alt="" id="img">
    </div>
    <div id="contenedor">
      <div id="login">
        <input type="text" placeholder="Usuario" [(ngModel)]="usuario" (blur)="login()" id="usuario">
        <input type="password" placeholder="Contraseña" [(ngModel)]="clave" (blur)="login()" id="clave">
      </div>
      <div id="enlaces">
        <a href="#">¿Eres nuevo? Registrate</a>
        <a (click)="navegar('r-contrasena')">¿Has Olvidado tu Contraseña?</a>
      </div>
      <ion-button (click)="login()" shape="round" color="light" id="boton">Iniciar sesión</ion-button>
    </div>
  </div>
</ion-content>
