a{
  text-decoration: none;
  color: var(--textocolor)
}

#fondo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--fondo1);
  }
  
  #logo img {
    max-width: 150px; /* Ajusta este valor según tus preferencias */
    height: auto;
  }
  
  #color {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 320px;
    background-color: var(--log);
  }
  
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: 'Dancing Script', cursive;
    font-family: 'REM', sans-serif;
  }
  input::placeholder{
    color: var(--placeholder);
  }

  
  #enlaces{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #enlace a {
    color: white;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-family: 'REM', sans-serif;
    font-size: 14px;
  }
  
  #enlace a:hover {
    text-decoration: underline;
  }
  
  #boton {
    margin-top: 15px;
    color: var(--boton1);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
    font-family: 'REM', sans-serif;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  ion-icon{
    font-size: 5rem;
    color: var(--boton);
    top: 5rem;
}
#tema{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 3rem;
  color: var(--tema);
}
