#contenedor {
    display: flex;
    flex-direction: column;  
    align-items: center;
    width: 100%;
    background-color: var(--fondo1);
    transition: background-color 1s ease;
  }

  .hidden-button {
    display: none !important;
  }
  
  #map {
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;  
    flex:1;
    color: #1F1F1F !important;
    border-radius: 20px;
  }
  #mapa {
    height: 50vh;
    display: flex;
    justify-content: center;
  }

  #viaje-img img{
    border-radius: 20px; 
  }
  
  #viaje-img{
    border-radius: 20px;
    margin: 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    width: 100%;
    span{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
  }

  #ubicacion{
    padding: 1rem;
  }
  
  #descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    #fechaHora{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
  }
  #tiempoEstimado{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    div{
        font-size: small;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        ion-icon{
            font-size: 2rem;
        }
    }
  }

  #detalles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    div{
        font-size: small;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        ion-icon{
            font-size: 2rem;
        }
    }
  }

  #detalles-loc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    div{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      ion-icon{
        font-size: 2rem;
      }
      #descMonto{
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
      }
    }
  }

  #botonera{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 1rem;
    ion-button{
        width: 80%;
    }
  }

  .custom-location-button{
    background-color: var(--fondo1);
  }


  ion-list{
    width: 100%;
    height: 100%;
    color: var(--log);
  }


  ion-list *{
    background-color: var(--fondo1);
  }