// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
// fondo es para el fondo de la pantalla
// log es color de la letra
// border es para el color de los bordes
:root{
    --fondo1: #1F1F1F;
    --placeholder: #ffffff;
    --border: #ffffff;
    --log: #ffffff;
}
@media (prefers-color-scheme: dark) {
    :root.md{
        --ion-background-color: variable-exists($name: --fondo1) ? var(--fondo1) : #1F1F1F;
    }
}
