// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
    --fondo1: #cdcccc;
    --placeholder: #ffffff;
    --border: #ccc;
    --log: #000000;
}