// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
    --textocolor: #fff;
    --boton: #ffffff;
    --boton1: #ffffff;
    --fondo1: #5dbad9;
    --placeholder: #ffffff;
    --log: #D97C5D;

}