ion-list{
    background: var(--fondo1);
    transition: all 0.6s ease-in-out;
}
#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--fondo1);
    flex-direction: column;
    div{
        background-color: var(--fondo1);
        ion-icon{
            width: 100%;
            height: 100%;
        }
    }
}

ion-icon{
    font-size: 2rem;
}

#descPasajero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--fondo1);
    ion-label {
        font-size: 1.2rem;
        font-weight: bold;
        background-color: var(--fondo1);
    }

    span {
        font-size: 0.8rem;
        width: 100%;
        background-color: var(--fondo1);
        text-align: start;
    }
}

#card{
    color: var(--log);
    background-color: var(--fondo1);
}
#cards{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#Transferencias{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fondo1);
    color: var(--log);
    text-align: center;
}
#transferencia{
    width: 95%;
}