<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Resumen
    </ion-title>
    <div id="header">
      <img src="assets/logouber.png" alt="" id="logo">
    <ion-icon src="assets/{{funciones.icono}}.svg" id="tema" (click)="cambiarTema()"></ion-icon>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ResumenViaje</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
