<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="header">
      <ion-icon src="assets/svgUber.svg" alt="" id="logo"></ion-icon>
      <ion-title class="ion-text-center">
        Resumen
      </ion-title>
    <ion-icon src="assets/{{funciones.icono}}.svg" id="tema" (click)="cambiarTema()"></ion-icon>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="contenedor">
    <div>
      <span></span>
    </div>
    <ion-button expand="block" (click)="setOpen(true)" color="light">Ver Transferencias</ion-button>
      <ion-button (click)="navegar('home')" color="dark">Volver al inicio</ion-button>
    </div>
</ion-content>
