#fondo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--fondo1);
}

#tema{
position: absolute;
right: 20px;
top: 20px;
font-size: 2.5rem;
color: var(--tema);
}


//visuales para la ion-card
ion-card{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  border-radius: 20px;
}
ion-card-header{
  //background-color: var(--title);
  border-radius: 20px;
}
ion-card-content{
  font-family: 'REM', sans-serif;
  font-size: medium;
  
}


