#fondo{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  background-color: var(--fondo1);
}

ion-card{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: var(--fondo1);
}
ion-card-header{
  color: var(--fondo1) !important;
  border-radius: 20px;
}

ion-card-content{
  font-family: 'REM', sans-serif;
  font-size: medium;
  
}


