#fondo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  gap: 20px;
  background-color: var(--fondo1);
}

#footer{
  background-color: var(--fondo1) !important; /* Cambia el color de fondo */
  
  ion-tab-button {
    --background: var(--fondo1);
    --color: var(--color); /* Cambia el color del texto y de los íconos */
    
    ion-icon {
      --color: var(--color); /* Cambia el color de los íconos */
    }
  }
}


#Viaje {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 5px;
}

#botones{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0px 0px 0px;
}

#contenidoViaje {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

}
#datosViaje {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  div{
      width: 100%;
      gap: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
}

#conductorViaje {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  div{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-weight: normal;
  }
}

#viajeTitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  width: 100%;
  position: sticky;


  div {
      ion-icon {
          font-size: 2rem;
      }
  }
}
ion-card {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  border-radius: 20px;
  width: 80%;
  background-color: var(--fondo1);
  flex-direction: column;
}

ion-card-header {
  color: var(--fondo1) !important;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  ion-icon{
    font-size: 2rem;
  }
}

ion-card-content {
  font-family: 'REM', sans-serif;
  font-size: medium;

}

/*#cerrarcuenta {
  width: 30%; 
 background-color: var(--fondo1);
margin: 6px;
  ion-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    ion-icon {
      width: 100%;
      color: var(--log);
      font-size: 2rem;
      font-weight: bolder;
    }
    span{
      width: 100%;
    }

  }
}*/