#fondo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  gap: 20px;
  background-color: var(--fondo1);
}

ion-card {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  border-radius: 20px;
  width: 80%;
  background-color: var(--fondo1);
  flex-direction: column;
}

ion-card-header {
  color: var(--fondo1) !important;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  ion-icon{
    font-size: 2rem;
  }
}

ion-card-content {
  font-family: 'REM', sans-serif;
  font-size: medium;

}

/*#cerrarcuenta {
  width: 30%; 
 background-color: var(--fondo1);
margin: 6px;
  ion-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    ion-icon {
      width: 100%;
      color: var(--log);
      font-size: 2rem;
      font-weight: bolder;
    }
    span{
      width: 100%;
    }

  }
}*/