<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="header">
      <ion-icon src="assets/svgUber.svg" alt="" id="logo"></ion-icon>
      <ion-title class="ion-text-center">
        Inicio
      </ion-title>
    <ion-icon src="assets/{{funciones.icono}}.svg" id="tema" (click)="cambiarTema()"></ion-icon>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="cerrarcuenta">
    <ion-button (click)="navegar('login')" color="danger"><ion-icon src="assets/logout.svg" id="cerrar"></ion-icon></ion-button>
  </div>
<div id="fondo">

  <ion-card (click)="navegar('viaje')" id="cardh"> 
    <ion-card-header>
      <ion-card-title>Registrar Viaje</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Registra tu viaje para llegar a tiempo a tu destino.
    </ion-card-content>
  </ion-card>

  <ion-card (click)="navegar('transporte')" id="cardh">
    <ion-card-header>
      <ion-card-title>Buscar Transporte</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Busca transporte para llegar rapido y seguro a tu destino.
    </ion-card-content>
  </ion-card>

</div>

</ion-content>