<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="header">
      <ion-icon src="assets/svgUber.svg" alt="" id="logo"></ion-icon>
      <ion-title class="ion-text-center">
        Transporte
      </ion-title>
    <ion-icon src="assets/{{funciones.icono}}.svg" id="tema" (click)="cambiarTema()"></ion-icon>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="contenedor">
    <ion-card *ngFor="let viaje of viajes; let i = index">
      <ion-card-header>
        <ion-card-title>{{viaje.destino}}</ion-card-title>
        <ion-card-subtitle>{{viaje.conductor}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <span><strong>Hora Salida:</strong> {{viaje.horaSalida}}</span>
        <span><strong>Valor Pasaje:</strong> ${{viaje.MontoCobrar}}</span>
        <span><strong>Pasajeros:</strong> {{viaje.cantidadPasajeros}}</span>
        <ion-button (click)="entrarAlViaje(viaje.conductor)" color="dark">Unirse</ion-button>
      </ion-card-content>
    </ion-card>
    
  </div>
</ion-content>
