<ion-content [fullscreen]="true">

  
  <div id="viajeInputs">
    <h3>Viaje (ingresa su viaje de destino, cantidad de pasajeros que puede llevar y costo por persona)</h3>
    <div id="inputs">
      <ion-input aria-label="Dark input" color="dark" placeholder="" label="Viaje Retorno" labelPlacement="stacked"></ion-input>
    <ion-input aria-label="Dark input" label="Cantidad de pasajeros" labelPlacement="stacked" color="dark" placeholder=""></ion-input>
    <ion-input aria-label="Dark input" label="Costo por Persona" labelPlacement="stacked" color="dark" placeholder=""></ion-input>
    </div>
    <ion-button (click)="navegar('resumen-viaje')" color="dark">Ingresar Viaje</ion-button>
  </div>


</ion-content>