#viajeInputs {
    display: flex;
    width: 100%;
    height: 110%;
    border: white 1px solid;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px; 
}
#inputs{
    width: 80%;  
}

#btnInViaje{
    width: 90%;
    min-height: 2rem !important;
    border-radius: 1px !important;
}