<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="header">
      <ion-icon src="assets/svgUber.svg" alt="" id="logo"></ion-icon>
      <ion-title class="ion-text-center">
        Viaje
      </ion-title>
    <ion-icon src="assets/{{funciones.icono}}.svg" id="tema" (click)="cambiarTema()"></ion-icon>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="viajeInputs">
    <div id="title">
      
    </div>
    <div id="inputs">
      <ion-input id="inputV" type="ViajeDestino" label="Destino" labelPlacement="floating"
        helperText="Ingresa tu destino" errorText="" aria-label="Light input" color="light" autofocus="true"></ion-input>
      <ion-input id="inputV" type="PuntoEncuentro" label="Punto de Encuentro" labelPlacement="floating"
        helperText="Ingresa el Punto de encuentro" errorText="" aria-label="Light input" color="light" autofocus="true"></ion-input>

      <ion-input id="inputV" type="CantidadPasajeros" label="Cantidad de Pasajeros" labelPlacement="floating"
        helperText="Capacidad de pasajeros que puedes llevar" errorText="" aria-label="Light input"
        color="light"></ion-input>

      <ion-input id="inputV" type="horaSalida" label="Hora de salida" labelPlacement="floating"
        helperText="Ingresa hora de salida" errorText="" aria-label="Light input" color="light"></ion-input>

      <ion-input id="inputV" type="CostoxPasajero" label="Monto a cobrar" labelPlacement="floating"
        helperText="Ingresa tu viaje de destino" errorText="" aria-label="Light input" color="light"></ion-input>

      <ion-input id="inputV" type="ComentariosExtras" label="Comentarios" labelPlacement="floating"
        helperText="Comentarios (Opcional)" errorText="" aria-label="Light input" color="light"></ion-input>

    </div>
    <ion-button id="btnInViaje" color="translucent" (click)="navegar('viaje2')">Registrar Viaje</ion-button>
  </div>
</ion-content>